<div ng-controller="SelectionController as selection">
    <div class="margin-top">
        <main-menu menu-items="selection.menuItems"></main-menu>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading margin-top">
                    <page-title page-title="selection.pageTitle"></page-title>
                </div>
                <div class="panel-body">
                    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
                    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
                    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <form method="post">
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="select">
                                        Competition Name:<span class="asteriskField">*</span>
                                    </label>
                                    <select class="select form-control" id="select" name="select">
                                        <option value="First Choice">First Choice</option>
                                        <option value="Second Choice">Second Choice</option>
                                        <option value="Third Choice">Third Choice</option>
                                    </select>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="select1">
                                        Competition Year:<span class="asteriskField">*</span>
                                    </label>
                                    <select class="select form-control" id="select1" name="select1">
                                        <option value="First Choice">First Choice</option>
                                        <option value="Second Choice">Second Choice</option>
                                        <option value="Third Choice">Third Choice</option>
                                    </select>
                                </div>
                                <div class="form-group ">
                                    <label class="control-label requiredField" for="select2">
                                        Photo Category:<span class="asteriskField">*</span>
                                    </label>
                                    <select class="select form-control" id="select2" name="select2">
                                        <option value="First Choice">First Choice</option>
                                        <option value="Second Choice">Second Choice</option>
                                        <option value="Third Choice">Third Choice</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <flex-slider slider-id="slider" flex-slide="image in selection.imagePaths track by $index" animation="fade" animation-loop="false"
                                        sync="#carousel" slideshow="false" control-nav="false" init-delay="100">
                                        <li>
                                            <img ng-src="{{image.image}}">
                                        </li>
                                    </flex-slider>
                                </div>
                                <div class="form-group">
                                    <flex-slider slider-id="carousel" flex-slide="image in selection.imagePaths track by $index" animation="slide" animation-loop="false"
                                        item-width="200" item-margin="5" as-nav-for="#slider" slideshow="false" control-nav="false"
                                        keyboard="true">
                                        <li>
                                            <img ng-src="{{image.thumbnail}}">
                                        </li>
                                    </flex-slider>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-10">
                                        <button ng-click="selection.submit()" class="btn btn-info btn-flat btn-block pull-right" name="submit" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>