<div ng-controller="CategoriesController as category">
    <div class="col-md-12">
        <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
        <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
        <div class="bootstrap-iso">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Add Category</h2>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label requiredField">
                                Category Name:<span class="asteriskField">*</span>
                            </label>
                            <input class="form-control" type="text" ng-model="category.categoryName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div>
                                <div class="form-group">
                                    <button ng-click="category.submit(category)" class="btn btn-info pull-right" name="submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>