<div class="col-md-12">
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
    <div class="bootstrap-iso">
        <div class="col-md-12">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Edit Category</h3>
                </div>
                <form method="post" name="frm" novalidate>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label requiredField">
                                Category Name:<span class="asteriskField">*</span>
                            </label>
                            <input class="form-control" type="text" ng-model="category" required autofocus>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div>
                                <button class="btn btn-success " name="submit" type="submit" ng-click="submit(frm, category);" ng-disabled="!frm.$valid">
                                    Update and close
                                </button>
                                <button class="btn btn-warning " name="submit" type="submit" ng-click="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>