<div class="margin-top">
    <main-menu menu-items="ctrl.menuItems"></main-menu>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading margin-top">
                    <page-title page-title="ctrl.pageTitle"></page-title>
                </div>
                <div class="panel-body">
                    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
                    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
                    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <form method="post">
                                <div class="form-group">
                                    <label class="control-label requiredField">
                                        Photo Category:<span class="asteriskField">*</span>
                                    </label>
                                    <select ng-model="ctrl.category" ng-change="ctrl.selectChanged();" ng-options="x.name for x in ctrl.categories  track by x.id"
                                        class="select form-control">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label requiredField">
                                        Competition Year:<span class="asteriskField">*</span>
                                    </label>
                                    <select ng-model="ctrl.period" ng-change="ctrl.selectChanged();" ng-options="x.name for x in ctrl.periods track by x.id"
                                        class="select form-control">
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label requiredField">
                                        Competition Name:<span class="asteriskField">*</span>
                                    </label>
                                    <select ng-model="ctrl.competition" ng-change="ctrl.competitionChanged();" ng-options="x.name for x in ctrl.competitions track by x.id" class="select form-control">
                                    </select>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-8 col-md-offset-2">
                                        <flex-slider slider-id="slider" flex-slide="image in ctrl.selectionImages track by $index" animation="fade" animation-loop="false"
                                            sync="#carousel" slideshow="false" control-nav="false" init-delay="50" keyboard="true">
                                            <li>
                                                <img ng-src="{{image.image}}">
                                            </li>
                                        </flex-slider>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <flex-slider slider-id="carousel" flex-slide="image in ctrl.selectionImages track by $index" animation="slide" animation-loop="false"
                                        item-width="200" item-margin="5" as-nav-for="#slider" slideshow="false" control-nav="false"
                                        keyboard="true">
                                        <li>
                                            <img ng-src="{{image.thumbnail}}" ng-dblclick="ctrl.imageSelected(image);" ng-class="image.imageClass">
                                        </li>
                                    </flex-slider>
                                </div>
                                <div class="form-group row" ng-show="ctrl.selectedCount > 0">
                                    <div class="col-md-12 font-bold">
                                        <div growl reference="2" inline="true" class="font-bold">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" ng-show="ctrl.selectedCount > 0">
                                    <div class="col-md-12">
                                        <div class="pageNotificationDiv">
                                            {{ctrl.selectionNotification}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button ng-click="ctrl.submitSelection()" class="btn btn-success pull-right" ng-disabled='ctrl.selectedCount <= 0' name="submit" type="submit">
                                        Submit Selection
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>