<div class="margin-top">
    <main-menu menu-items="ctrl.menuItems"></main-menu>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading margin-top">
                    <page-title page-title="ctrl.pageTitle"></page-title>
                </div>
                <div class="panel-body">
                    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
                    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
                    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                    <div class="bootstrap-iso">
                        <div class="container-fluid">
                            <form method="post" name="frm" novalidate>
                                <div class="form-group ">
                                    <label class="control-label requiredField">
                                        Competition Name:<span class="asteriskField">*</span>
                                    </label>
                                    <select ng-model="ctrl.photo.competition" ng-change="ctrl.competitionChanged();" ng-options="x.name for x in ctrl.competitions track by x.id"
                                        class="select form-control" required>
                                    </select>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label requiredField">
                                        Photo Category:<span class="asteriskField">*</span>
                                    </label>
                                    <select ng-model="ctrl.photo.category" ng-options="x.name for x in ctrl.categories track by x.id" class="select form-control"
                                        required>
                                    </select>
                                </div>


                                <div class="form-group ">
                                    <label class="control-label">Photo Description:</label>
                                    <textarea ng-model="ctrl.photo.description" class="form-control" cols="40" rows="5"></textarea>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label">Photo Image URL:</label>
                                    <input type="text" class="form-control" ng-model="ctrl.photo.image" required>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label">Photo Thumbnail URL:</label>
                                    <input type="text" class="form-control" ng-model="ctrl.photo.thumbnail" required>
                                </div>

                                <div class="form-group">
                                    <label class="btn btn-info btn-block btn-flat">
                                        Click here to Select Photo
                                        <input ng-model="ctrl.photo.photo" custom-on-change="ctrl.uploadedPhoto" class="hide" id="selectphotos" type="file" accept="image/*"
                                        />
                                    </label>
                                </div>

                                <div class="form-group centerImage">
                                    <img ng-src="{{uploadedPhotoHref}}" id="uploadedPhotoHref">
                                </div>

                                <div class="form-group">
                                    <button ng-click="ctrl.addImage()" class="btn btn-success btn-flat pull-right" name="submit" type="submit" ng-disabled="!frm.$valid">Submit
                                        Photo
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>