<div class="margin-top">
    <main-menu menu-items="ctrl.menuItems"></main-menu>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading margin-top">
                    <page-title page-title="ctrl.pageTitle"></page-title>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <admin-menu></admin-menu>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a ng-click="ctrl.addCategory();" class="btn btn-sm btn-success">
                                        <i class="fa fa-plus-circle"></i>
                                        Add
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-12 margin-top">
                                <table class="table table-bordered table-condensed table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Competition Name</th>
                                            <th>Category Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="category in ctrl.categories | itemsPerPage: 10 track by category.id">
                                            <td>{{category.competition.name}}</td>
                                            <td>{{category.name}}</td>
                                            <td>
                                                <a class="btn btn-xs btn-success" ng-click="ctrl.editCategory(category);">
                                                    Edit</a> <a class="btn btn-xs btn-success" ng-click="ctrl.deleteCategory(category);">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <dir-pagination-controls boundary-links="true" template-url="common/directives/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>