<div class="col-md-12">
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
    <div class="bootstrap-iso">
        <div class="col-md-12">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add Competition</h3>
                </div>
                <form method="post" name="frm" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="control-label requiredField">
                                    Competition Name:<span class="asteriskField">*</span>
                                </label>
                                <input class="form-control" type="text" ng-model="ctrl.competition.Name" required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label requiredField">
                                    Start Date:<span class="asteriskField">*</span>
                                </label>
                                <input ng-model="ctrl.competition.StartDate" class="form-control" placeholder="MM/DD/YYYY" type="date" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label requiredField">
                                    End Date:<span class="asteriskField">*</span>
                                </label>
                                <input ng-model="ctrl.competition.EndDate" class="form-control" type="date" placeholder="MM/DD/YYYY" required>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-6">
                                <label class="control-label requiredField">
                                    End of Upload Date:<span class="asteriskField">*</span>
                                </label>
                                <input ng-model="ctrl.competition.EndofUploadDate" class="form-control" type="date" placeholder="MM/DD/YYYY" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label requiredField">
                                    End of Selection Date:<span class="asteriskField">*</span>
                                </label>
                                <input ng-model="ctrl.competition.EndofSelectionDate" class="form-control" type="date" placeholder="MM/DD/YYYY" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="control-label requiredField">
                                    End of Voting Date:<span class="asteriskField">*</span>
                                </label>
                                <input ng-model="ctrl.competition.EndofVotingDate" class="form-control" type="date" placeholder="MM/DD/YYYY" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <div>
                                <button class="btn btn-success " name="submit" type="submit" ng-click="submit(frm, ctrl.competition);" ng-disabled="!frm.$valid">
                                    Save and close
                                </button>
                                <button class="btn btn-warning " name="submit" type="submit" ng-click="cancel()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>